:root {
  --darkpink: rgb(192, 36, 114);
  --pink: rgb(214, 34, 139);
  --blue: rgb(52, 190, 214);
  --black: rgb(0, 0, 0);
  --blacktransparent: rgba(0, 0, 0, 92%);
  --darkgold: rgb(173, 110, 9);
  --gold: rgb(204, 160, 14);
  --white: rgb(202, 202, 202);
  --pearl: rgb(231, 231, 231);
}

.comment {
    line-height: 1px;
    height: 200px;
    width: 900px;
    overflow: scroll;
    border-bottom: 2px solid var(--white);
    border-top: 2px solid var(--white);
}


.comment p {
    font-size: 20px;
}

.comment h4 {
    font-size: 29px;
    color: var(--white);
    padding-bottom: 0px;
    margin-bottom: 0px;
}