
:root {
  --darkpink: rgb(192, 36, 114);
  --pink: rgb(214, 34, 139);
  --blue: rgb(52, 190, 214);
  --black: rgb(0, 0, 0);
  --blacktransparent: rgba(0, 0, 0, 92%);
  --darkgold: rgb(173, 110, 9);
  --gold: rgb(204, 160, 14);
  --white: rgb(202, 202, 202);
  --pearl: rgb(231, 231, 231);
}

.ArticleList {
    background-color: var(--blacktransparent);
    color: var(--white);
    font-family: "Raleway", sans-serif;
    line-height: 5px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    margin-left: 70px;
    margin-right: 70px;
    padding: 70px;

    line-height: 30px;

}

.articlepreview img {
  transition: transform .2s; /* Animation */
}

.articlepreview img:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}



