
:root {
  --darkpink: rgb(192, 36, 114);
  --pink: rgb(214, 34, 139);
  --blue: rgb(52, 190, 214);
  --black: rgb(0, 0, 0);
  --blacktransparent: rgba(0, 0, 0, 92%);
  --darkgold: rgb(173, 110, 9);
  --gold: rgb(204, 160, 14);
  --white: rgb(202, 202, 202);
  --pearl: rgb(231, 231, 231);
}

.ArticleDetails {
    font-family: "Raleway", sans-serif;
    color: var(--white);
}

.ArticleDetails h1 {
  text-shadow: 2px 2px var(--darkpink);
}